<div class="container" style="margin:100 auto">
  <div class="row">
    <div class="col-6 offset-3">
        <h4>Agregar una nueva novedad</h4>
        <form action="/admin/novedades/agregar" method="post">
        <div class="mb-3" row>
          <input type="text" class="form-control" name="titulo" placeholder="Título">
        </div>
        <div class="mb-3" row>
          <textarea type="text" class="form-control" name="subtitulo" placeholder="Subtitulo"></textarea>
        </div>
        <div class="mb-3" row>
          <textarea type="text" class="form-control" name="cuerpo" placeholder="Novedad"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        </form>        
        {{#if error}}
          <h5>{{message}}</h5>
        {{/if}}
    </div>
  </div>
</div>