<div class="container" style="margin-top= 50px;">
  {{!--fila 1 --}}
  <div class="row">
    <p class="text-end">Bienvenida {{usuario}} ! <a class="btn btn-danger"  href="/admin/login/logout">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></p>
  </div>
  {{!--fila 2 --}}
  <div class="row">
    <div class="col-7">
      <h3>Listado de Novedades</h3>
    </div>
    <div class="col-5 text-end">
      <a class="btn btn-success" href=""><i class="fa fa-plus" aria-hidden="true"></i>Nuevo</a>
    </div>
  </div>
  {{!--fila 3 --}}
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th class="text-end">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each novedades}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{titulo}}</td>
            <td class="text-end">
              <a class="btn btn-secondary" href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a class="btn btn-secondary" href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


