<div class="container" style="margin-top= 50px;">
  <div class="row">
    <p class="text-end">Bienvenida {{persona}} ! <a class="btn btn-danger"  href="/admin/login/logout">Salir <i class="fa fa-sign-ou-alt"></i></a></p>
  </div>
</div>


