<!DOCTYPE html>
<html>
  <body>
    <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    {{{body}}}
   <footer>
      <p>Diseñado por Flavia Ursino - &copy;2023</p>
    </footer>
  </body>
</html>
