header {
  background-color: #2e64a1;
  padding: 16px;
}
header h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  bottom: 35px;
  margin-left: 10px;
}

footer {
  background-color: #ccc;
  clear: both;
  color: #333;
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
}

nav{
  background-color: #6da9ed;
  margin-bottom: 20px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align: center;
  /* background-color: yellow; */
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.active {
  background-color: #476a5;
}
